/*
    CSS PERSONALIZZATI PER IL PROGETTO STS
*/

/*Ridefiniamo la classe material-icons per supportare il self-hosting (IdentityServer non consente di scaricare risorse da terze parti)*/
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
/*Self-hosting delle icone materialize di google*/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/material-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(/fonts/material-icons/MaterialIcons-Regular.woff2) format('woff2'), url(/fonts/material-icons/MaterialIcons-Regular.woff) format('woff'), url(/fonts/material-icons/MaterialIcons-Regular.ttf) format('truetype');
}

/* Stili custom */
.tt-nav {
    width: 100%;
    z-index: 1000;
    position: relative;
    display: block;
}

.header-sticky {
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
    /* box-shadow: 0 4px rgba(0, 0, 0, 0.08), 0 6px rgba(0, 0, 0, 0.08);*/
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.08);
}

.menuzord {
    padding-top: 2rem;
}

.password-recovery {
    font-size: 0.7rem;
    
    /*margin-top: -12px;*/
}

/*RIDEFINIAMO LA CLASSE input-field di materializecss per eliminare i margini */
.input-field {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

.login-box {
    margin-top: 2rem;
    border: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.20);
    border-radius: 15px;
}

.login-button {
    width: 75%;
}

.register-link {
    margin-top: 10px;
    text-decoration: underline;
}



/* Padding e Marginig */
.pl-5{
    padding-left: 5px;
}

.pr-5 {
    padding-right: 5px;
}

.plr-5 {
    padding-left: 5px;
    padding-right: 5px;
}