@using Microsoft.Extensions.Options;
@using Web.Configuration;

@inject IOptions<AppConfig> OptionsApplicationConfiguration

<header class="">
    <!-- class="tt-nav mt-20"> -->
    <!--<div class="header-sticky light-header"> -->
    <div class="container mt-10">
        <div class="row">
            <div class="col-12">
                <div id="materialize-menu" class="menuzord menuzord-responsive">
                    <ul class="menuzord-menu pull-left">
                        <li><a href="javascript:void(0)">Gallery</a></li>
                        <li><a href="javascript:void(0)">Info</a></li>
                        <li><a href="javascript:void(0)">Calendari</a></li>
                        <li><a href="javascript:void(0)">Dove Siamo</a></li>
                    </ul>
                    <ul class="menuzord-menu pull-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a href="javascript:void(0)">Logout</a></li>
                        }
                        else
                        {
                            <li><a href="@OptionsApplicationConfiguration.Value.LoginUrl">Signin</a></li>
                        }

                    </ul>
                </div>
            </div>
        </div>
        <!-- NAVBAR + LOGIN/LOGOUT
            <div>NAVBAR + LOGIN e LOGOUT</div> -->
    </div>
    <!-- </div> -->
    <div class="divider"></div>
</header>
