@*<div class="container ">*@
<a href="#" data-target="nav-mobile" class="top-nav sidenav-trigger full hide-on-large-only"><i class="material-icons">menu</i></a>
<ul id="nav-mobile" class="sidenav sidenav-fixed grey darken-1">
    <!-- spacer-->
    <li class="no-padding ">
        <div class="r2d-sidenav-topspacer"></div>
    </li>
    <li class="no-padding">
        <a class="white-text r2d-text-bold" asp-action="Index" asp-controller="Clienti">
            Home
        </a>
    </li>
    <li class="">
        <ul class="collapsible collapsible-accordion grey darken-1">
            <li>
                <a class="collapsible-header waves-effect white-text r2d-text-bold">Modifica Dati Struttura</a>
                <div class="collapsible-body grey darken-1">
                    <ul>
                        <li>
                            <a class="white-text r2d-sidenav-item" asp-action="GetAnagrafica" asp-controller="ProfiloCliente">
                                Anagrafica
                            </a>
                        </li>
                        <li>
                            <a class="white-text r2d-sidenav-item" asp-action="GetBanner" asp-controller="ProfiloCliente">
                                Immagine Profilo
                            </a>
                        </li>
                        <li>
                            <a class="white-text r2d-sidenav-item" asp-action="GetOrarioApertra" asp-controller="ProfiloCliente">
                                Orario Apertura
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li><a class="white-text r2d-text-bold" asp-action="Index" asp-controller="Scheduler">Gestione Calendari</a></li>
    <li><a class="white-text r2d-text-bold" asp-action="GalleryEdit" asp-controller="Clienti">Gestione Immagini</a></li>
    <li><a class="white-text r2d-text-bold" asp-action="Sale" asp-controller="Clienti">Gestione Sale</a></li>
    <li><a class="white-text r2d-text-bold" asp-action="Lezioni" asp-controller="Clienti">Gestione Tipologie Lezioni</a></li>
    <li><a class="white-text r2d-text-bold" asp-action="TipoAbbonamenti" asp-controller="Abbonamenti">Gestione Tipologia Abbonamenti</a></li>
    <li><a class="white-text r2d-text-bold" asp-action="GetUtentiCliente" asp-controller="Clienti">Gestione Utenti</a></li>
    <li>
        <partial name="_Banner_RettangoloMedio" />
    </li>
</ul>
@*</div>*@

<script>
    /* Assume che JQuery sia già stato caricata */
    $(document).ready(function () {
        //INIT SIDENAV
        $('.sidenav').sidenav();
        $('.collapsible').collapsible();
    });
</script>