@model List<NotificaViewModel>

@if (Model != null)
{
    <ul class="collection r2d-notification-box">
        @foreach (var item in Model)
        {
        <li class="collection-item">
            <i class="material-icons">@item.IconName</i>
            <span class="title">@item.Titolo</span>
            <p>@item.Testo</p>
            <div class="secondary-content">
                <a href="#!"><i class="material-icons">close</i></a>
            </div>
        </li>
        }
    </ul>
}