<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ready2do-functions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f38f243e-908f-43fd-89d5-a5ce2fee0610/resourceGroups/rgReady2do/providers/Microsoft.Web/sites/ready2do-functions</ResourceId>
    <UserName>$ready2do-functions</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://ready2do-functions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>