@model List<LocationViewModel>
@{
    ViewData["Title"] = "Sale";
    Layout = "_LayoutClienti";
}

<!-- TODO: Esternalizzare questi CSS -->
<style>
    /* Override della classe Materialize per gestire la larghezza del popup*/
    .modal {
        width: 75% !important;
        height: 350px !important;
    }

    @@media screen and (min-width: 502px) {
        .modal {
            width: 45% !important;
            height: 300px !important;
        }
    }
</style>

@if ((Model == null) || (Model.Count == 0))
{
<div class="row">
    <div class="col s4 offset-s4">
        <partial name="_NoSale" model="Model" />
    </div>
</div>
}
else
{
<div class="row">
    <div class="col s8 offset-s2 center">
        <h5>Gestione Sale</h5>
        <div style="position:relative">
            <a asp-action="SalaNew" asp-controller="Sale" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s5 offset-s2 center">
        <strong>Nome Sala</strong>
    </div>
    <div class="col s3 center">
        <strong>Azioni</strong>
    </div>
</div>
<div class="row">
    <div class="divider col s8 offset-s2"></div>
</div>

@foreach (var s in Model)
                {
<div class="row">
    <div class="col s5 offset-s2 left" data-id-sala="@s.Id">@s.Nome</div>
    <div class="col s3 right">
        <div style="position:relative">
            <div class="fixed-action-btn" style="position:relative;display: inline-block; bottom: 0;">
                <a class="btn-floating ">
                    <i class="large material-icons">menu</i>
                </a>
                <ul style="right: 50px;">
                    <li style="margin-top: 0; margin-right: 2px;">
                        <a class="btn-floating red" asp-action="SalaDelete" asp-controller="Sale" asp-route-id="@s.Id" onclick="confermaCancellazioneSala(event, @s.Id)"><i class="material-icons">delete</i></a>
                    </li>
                    <li style="margin-top: 0; margin-right: 2px;"><a class="btn-floating blue"><i class="material-icons">edit</i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="divider col s8 offset-s2"></div>
</div>
    }

    <!-- Modal Structure -->
    <div id="modalConfirmCancellazioneSala" class="modal modal-fixed-footer">
        <div class="modal-content center">
            <h4>Conferma cancellazione Sala <span id="mdlSalaName"></span></h4>
            <br />
            <p>L'operazione di cancellazione è irreversibile ed è possibile solo in assenza di lezioni pianificate.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn"><i class="material-icons left hide-on-small-and-down">cancel</i>Annulla</a>
            <a id="mdlBtnConverma" class="modal-action modal-close waves-effect waves-red btn red" href=""><i class="material-icons left hide-on-small-and-down">delete</i>Conferma</a>
        </div>
    </div>

    }
    @section Scripts{
        <script>
            var modalDialog;
            document.addEventListener('DOMContentLoaded', function () {
                var elems = document.querySelectorAll('.tooltipped');
                var instances = M.Tooltip.init(elems);

                var fabs = document.querySelectorAll('.fixed-action-btn');
                M.FloatingActionButton.init(fabs, {
                    direction: 'left',
                    //hoverEnabled: false
                });

                var modalElem = document.querySelectorAll('#modalConfirmCancellazioneSala');
                modalDialog = M.Modal.init(modalElem, {
                    startingTop: '30%'
                });
            });


            function confermaCancellazioneSala(event, idSala) {
                event.preventDefault();
                var actionUrl = $(event.target).parent('a')[0].href
                $('#mdlBtnConverma').attr('href', actionUrl);
                $('#mdlSalaName').val($('div[data-id-sala=' + idSala + ']').text())
                modalDialog[0].open();
                return false;
            }
        </script>
    }
