@model TipologiaAbbonamentoViewModel;
@{
    Layout = "_LayoutClienti";
}

<form asp-action="TipoAbbonamentoSave" method="post" id="formEdiTipoAbbonamento">
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col s8 offset-s2 center-align">
            <h6>Edit Tipo Abbonamento</h6>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s8 offset-s2">
            <input type="text" asp-for="Nome" data-lenght="100" id="inputNome" />
            <label>Nome Abbonamento *</label>
            <span asp-validation-for="Nome"></span>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s4 offset-s2">
            <input type="number" asp-for="DurataMesi" min="0" max="999" />
            <label>Durata abbonamento (in mesi)</label>
            <div class="helper-text">
                E' necessario specificare almeno uno dei valori tra Durata Abbonamento e Ingrassi Previsti
            </div>
            <span asp-validation-for="DurataMesi"></span>
        </div>
        <div class="input-field col s4 ">
            <input type="number" asp-for="NumIngressi" min="0" max="999" />
            <label>Numeri Ingressi Previsti</label>
            <div class="helper-text">
                Se non sono previsti limiti al numero di ingressi, lasciare il campo vuoto.
                <br />
                E' necessario specificare almeno uno dei valori tra Durata Abbonamento e Ingrassi Previsti
            </div>
            <span asp-validation-for="NumIngressi"></span>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s4 offset-s2">
            <input type="number" asp-for="Costo" id="inputCostoAbbonamento" asp-is-invariant="true"/>
            <label>Prezzo (in €)</label>
            <div class="helper-text">
                Prezzo dell'abbonamento (opzionale)
            </div>
            <span asp-validation-for="Costo" ></span>
        </div>
        @*<p class="input-field col s4 offset-s2">
                <label asp-for="MaxLivCorsi"></label>
                <input type="number" min="0" max="10" asp-for="MaxLivCorsi" />
            </p>*@
        <span asp-validation-for="MaxLivCorsi"></span>
    </div>

    <div class="row">
        <div class="input-field col s10 offset-s1 center">
            <button class="btn waves-effect waves-light" type="submit" id="btnFrmTipoAbbonamentoSubmit">
                Salva
                <i class="material-icons left">save</i>
            </button>
        </div>
    </div>
</form>


@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('input#inputNome').characterCounter();
            $('#inputCostoAbbonamento').keypress(function (event) {
                this.value = this.value + String.fromCharCode(event.which).replace(",", ".");
                //$(this).val($(this).val().replace(",", "."));
                return false;
            });

            /*Disabilitiamo il pulsante Submit dopo il click (per evitare submit multipli) 
             SOLO SE LA FORM E' VALIDA ALTRIMENTI RESTA DISABILITATO!
             */
            $('#btnFrmTipoAbbonamentoSubmit').on("click", function (event) {
                var form = $('#formEdiTipoAbbonamento');
                var validator = form.validate();
                if (validator.form()) {
                    $(this).find('button[type="submit"]').attr('disabled', 'disabled');
                    form.submit();
                }
                });            
        });
    </script>
}