@if ((Model == null) || (Model.Count == 0))
{
<div class="card">
    <div class="card-content">
        <span class="card-title center"><strong>Nessuna Utente registrato</strong></span>
        <br />
        <p>Sembrerebbe che nessun Utente si sia ancora registrato.</p>
        <br />
    </div>
</div>
}
