@model AbbonamentoUtenteViewModel

@*@if (!Model.Id.HasValue)
{
<div class="card">
    <div class="card-content">
        <span class="card-title center"><strong>Nessuna Abbonamento attivo per l'utente</strong></span>
        <br />
        <p>Al momento l'utente non ha un abbonamento valido.</p>

            <a class='dropdown-trigger btn @Html.Raw(ViewBag.TipologieAbbonamenti == null ? "disabled" : "")' href='#' data-target='ddAddAbb'>Aggiungi Abbonamento</a>
                <ul id='ddAddAbb' class='dropdown-content'>
                    @foreach (var ta in (Model.TipologieAbbonamento))
                    {
                        <li>
                            <a href="#!" onclick="AddAbbonamento(@ta.Key)">@ta.Value</a>
                        </li>
                    }
                </ul>
        <br />
    </div>
</div>
}*@


<script>

</script>