@model AnagraficaClienteViewModel;
@{
    Layout = "_LayoutClienti";
}
<style>
    #map {
        height: 300px;
    }
</style>

<section id="editProfile">
    <form asp-action="SaveAnagrafica" asp-controller="ProfiloCliente" method="post" id="formEditAnagraficaCliente">
        <input id="esitoLookup" type="hidden" asp-for="EsitoLookup" />
        <input type="hidden" asp-for="IdCliente" />
        <input id="inputLatitudine" type="hidden" asp-for="Latitudine" />
        <input id="inputLongitudine" type="hidden" asp-for="Longitudine" />
        <input id="inputCitta" type="hidden" asp-for="Citta" />
        <input id="inputCountry" type="hidden" asp-for="Country" />
        <input id="inputCAP" type="hidden" asp-for="CAP" />
        <div class="row">
            <div class="col s8 offset-s2 center">
                <h5>Dati Anagrafici e di Contatto</h5>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input type="text" asp-for="Nome" id="inputNomeStruttura" data-length="100"/>
                <label>Nome della struttura</label>
                <span asp-validation-for="Nome"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <textarea asp-for="Descrizione" id="textAreaDescrizione" class="materialize-textarea" data-length="1000"></textarea>
                <label>Descrizione della struttura</label>
                <span asp-validation-for="Descrizione" />
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input type="text" id="inputUrlRoute" asp-for="UrlRoute" data-length="205">
                <div class="helper-text">
                    Identificativo che formerà  l'indirizzo web a cui sarà visibile la pagina della struttura.
                    E' possibile personalizzare solo la parte finale dell'indirizzo web.
                    Esempio: <c>https://www.ready2do.com/<span style="font-weight:700">identificativo-struttura</span></c>

                </div>
                <label>Identificativo Web della Struttura</label>
                <span asp-validation-for="UrlRoute"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input type="email" id="inputEmail" asp-for="Email" data-length="100"/>
                <label>Indirizzo email della struttura</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input type="tel" id="inputTelefono" asp-for="NumTelefono" data-length="50"/>
                <label>Numeri di Telefono della Struttura</label>
                <span asp-validation-for="NumTelefono"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input type="text" id="inputRagioneSociale" asp-for="RagioneSociale" data-length="100"/>
                <label>Ragione Sociale della Struttura</label>
                <span asp-validation-for="RagioneSociale"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input id="addressAutocomplete" id="inputIndirizzo" type="text" asp-for="Indirizzo" data-length="250"/>
                <label asp-for="Indirizzo"></label>
                <span asp-validation-for="Indirizzo"></span>
            </div>
        </div>
        <div class="row">
            <div class="col s8 offset-s2 center">
                <div id="map"></div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s10 offset-s1 center">
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Salva
                    <i class="material-icons right">save</i>
                </button>
            </div>
        </div>
    </form>
</section>

@section Scripts{
    <script>
        var map;
        var geocoder; 
        var marker;

        $(document).ready(function () {
            $('.tooltipped').tooltip();
            $('input#inputNomeStruttura, input#inputUrlRoute, input#inputEmail, input#inputTelefono, input#inputRagioneSociale, input#inputIndirizzo, textarea#textAreaDescrizione').characterCounter();

            /// GOOGLE AUTOCOMPLETE ///
            var input = document.getElementById('addressAutocomplete');
            var options = {
                type: ['(address)'],
                componentRestrictions: { country: 'it' }
            };

            autocomplete = new google.maps.places.Autocomplete(input, options);
            autocomplete.addListener('place_changed', function () {
                var place = autocomplete.getPlace();
                if (place.geometry) {
                    document.getElementById('esitoLookup').value = 1;
                    document.getElementById('inputLatitudine').value = place.geometry.location.lat();
                    document.getElementById('inputLongitudine').value = place.geometry.location.lng();
                    parseAdressComponents(place.address_components);
                    //Riposizioniamo il marker sulla mappa
                    if (marker) { marker.setPosition(place.geometry.location);}

                    //Dobbiamo rieseguire la validazione perché quando arriva qui è già stata eseguita con i valori "errati"
                    $("#formEditProfile").validate().element("#addressAutocomplete");
                } else {
                    document.getElementById('esitoLookup').value = 0;
                }
            });
        });


        function parseAdressComponents(address_components) {
            let tmp = address_components.find(function (c) { return c.types[0] === "postal_code"; });
            if (tmp) {
                $('#inputCAP').value = tmp.long_name;
            }
            tmp = address_components.find(function (c) { return c.types[0] === "locality"; });
            if (tmp) {
                $('#inputCountry').value = tmp.long_name;
            }
            tmp = address_components.find(function (c) { return c.types[0] === "administrative_area_level_1"; });
            if (tmp) {
                $('#inputCitta').value = tmp.long_name;
            }
        }


        // MAP
        function initMap() {
            geocoder = new google.maps.Geocoder();
            var haightAshbury = { lat: @(Model.Latitudine) , lng: @(Model.Longitudine) };
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: haightAshbury,
                mapTypeId: 'roadmap'
            });

            // This event listener will call addMarker() when the map is clicked.
            map.addListener('click', function (event) {
                addMarker(event.latLng);
            });

            marker = new google.maps.Marker({
                draggable: true,
                map: map,
                title: $('#inputNomeStruttura').val(),
                position: haightAshbury,                
            });
            marker.addListener('dragend', onMarkerMoved);
        }

        //Handler per gestire lo spostamento manuale del marker sulla mappa
        function onMarkerMoved(event) {
            geocodeLatLng(event.latLng);            
        }

        function geocodeLatLng(latLng) {
            geocoder.geocode({ 'location': latLng }, function (results, status) {
                if (status === 'OK') {
                    if (results[0]) {
                        $('#addressAutocomplete').val(results[0].formatted_address);
                        $('#inputLatitudine').val(lat);
                        $('#inputLongitudine').val(lng);
                        parseAdressComponents(results[0].address_components);

                        //Dobbiamo rieseguire la validazione perché quando arriva qui è già stata eseguita con i valori "errati"
                        // ???
                        $("#formEditProfile").validate().element("#addressAutocomplete");
                    } else {
                        window.alert('No results found');
                    }
                    $('#esitoLookup').val('1');
                } else {
                    window.alert("Impossibile recuperare l'indirizzo corrispondente al punto sulla mappa. Spostare l'indicatore sulla mappa oppure digitare l'indirizzo nell'apposito campo.");
                    $('#esitoLookup').val('0'); //Salviamo l'esito del lookup
                }
            });
        }
    </script>
    <!-- Scrip per la validazione dell'inidirizzo -->
    <script>
        $(function () {
            $.validator.addMethod('googleaddress', function (value, element, params) {
                $.validator.messages.googleaddress = "E' necessario selezionare un indirizzo tra quelli proposti";
                return $(params).val() == 1;
            });

            $.validator.unobtrusive.adapters.add('googleaddress', ['esitolookupField'], function (options) {
                options.rules['googleaddress'] = '#esitoLookup';// + options.params.esitolookupField;
                options.messages['googleaddress'] = options.message;
            });
        }(jQuery));
    </script>
    @*<script async defer src="@(ViewBag.UrlGoolePlaces)"></script>*@
    <script src="@Html.Raw(ViewBag.GoogleMapsAPIUrl)"></script>
    @*https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyB3QBIUnHrigeqjjnEmwZn717ixOCcMYUw&language=it&callback=initMap*@
}
