@model IEnumerable<AppuntamentoDM>

@if (Model?.Any() ?? false)
{
    <div class="row">
        <div class="col s4 offset-s4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title center"><strong>Ancora nessun iscritto pr l'evento</strong></span>
                    <br />
                    <p>Al momento non risultano iscritti all'evento.</p>
                    <br />
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col s5 offset-s1 center">
            <strong>Utente</strong>
        </div>
        <div class="col s3 center">
            <strong>Data Iscrizione</strong>
        </div>
        <div class="col s3 center">
            <strong>Azioni</strong>
        </div>
    </div>
    @foreach (var a in Model)
    {
        <div class="row">
            <div class="col s5 offset-s1">@(a.User.DisplayName)</div>
            <div class="col s3">@(a.DataCreazione)</div>
            <div class="col s3"><!--AZIONI--></div>
        </div>
    }
}