<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!--  favicon -->
    <!-- TODO: Creare la Favicon e le Apple-Touch-Icon personalizzate-->
    <link rel="shortcut icon" href="~/img/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/img/ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/img/ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/img/ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="~/img/ico/apple-touch-icon-57-precomposed.png" />

    <!-- MATERIALIZE 1.0.0 ALPHA 4-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="~/materialize-v1.0.0-alpha.4/css/materialize.min.css" />
    <!-- Compiled and minified JavaScript -->
    <script src="~/materialize-v1.0.0-alpha.4/js/materialize.min.js"></script>

    <link rel="stylesheet" href="~/css/sts.styles.css" />
</head>
    @RenderBody()
</html>
