@import "components/variables";
@import "components/common";
@import "components/banners";
@import "components/notifiche";
@import "components/sidenav";
@import "components/navbar";
@import "components/calendar";




.r2d-swiper-image {
    max-width: 711px;
    max-height: 400px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.r2d-slideshow{
    padding-top: 30px;
}

/* STILI PAGINA PROFILO */
#formEditProfile .input-field {
    margin-top: 0px;
}

.mt-10 {
    margin-top: 10px;
}

/* STILI IMMAGINI  */
.image_edit_container {
    position: relative;
}

    .image_edit_container:hover .hero_edit_image {
        opacity: 0.3;
    }

    .image_edit_container:hover .image_edit_btn {
        opacity: 1;
    }

.hero_edit_image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.image_edit_btn {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
/* FINE STILI IMMIGINI */

/********************* VECCHI STILI ****************/
.flex-caption {
    width: 96%;
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
}

.top_bar_main {
    min-height: 55px;
    border-bottom: 1px solid #ccc;
}

.menu_cliente {
    /*margin-bottom: -50px;*/
    margin-top: 20px;
}

#submenuAdmin {
    margin-left: 60px;
    /*margin-top: -35px;	*/
}

.menuzord-menu > li > a {
    line-height: 30px;
}

.clientHeroes {
    min-height: 160px;
    max-height: 160px;
    height: 160px;
}


.gallery_item_container {
    display: inline;
}

.thumb_container {
    height: 120px;
    width: 120px;
    overflow: hidden;
    text-align: center;
}

.thumb_image {
    max-height: 120px;
    max-width: 120px;
    /* Per centrarla orizzontalmente */
    display: block;
    margin: auto;
}

.valign_helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/*.r2d-overlay {
    background: #e9e9e9;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.75;
    z-index: 999;
}*/
.r2d-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e9e9e9;
    opacity: 0.75;
    z-index: 999;
}