/* Link di registrazione nella NavBar*/

#navLinkRegistration {
    color: red;
    font-weight: 500;
}

#navLinkLogin {
    border-color: #03a9f4;
    border-width: 1px;
    border-style: solid;
    font-weight: 500;
}

.input-field {
    margin-top: 25px;
}

#lblTipologiaCliente {
    top: -15px;
    left: 15px;
}

/******************* PROFILE EDIT ************************/
.gallery_container {
    /*margin-left: 120px;
    margin-right: 120px;*/
}

.galleryEdit__item {
    padding-top: 10px;
    height: 100px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}

    .galleryEdit__item img {
        top: 50%;
        left: 50%;
        width: 100%;
        min-height: 100%;
        transform: translate(-50%, -50%);
    }


.adsbanner {
    border: 1px;
    display: inline-block;
    width: 80%;
    height: 70px;
    background-color: yellow;
}

