@using Microsoft.Extensions.Options;
@inject IOptions<ApplicationConfigurations> OptionsApplicationConfiguration

<!--header start-->
<header id="header" class="tt-nav">

    <div class="header-sticky light-header nav-boxed-color">

        <div class="container">
            <div id="materialize-menu" class="menuzord menuzord-responsive">

                <!--logo start-->
                <a asp-controller="Home" asp-action="Index" class="logo-brand">
                    <img class="retina" src="~/img/logo.png" alt="" />
                </a>
                <!--logo end-->
                <!-- onepage menu start-->
                <ul class="nav menuzord-menu pull-right op-nav">
                    <li class="active">
                        <a href="#home" data-scroll>Home</a>
                    </li>
                    <li>
                        <a href="#weDo" data-scroll>Chi Siamo</a>
                    </li>
                    <li>
                        <a href="#features" data-scroll>Funzionalità</a>
                    </li>
                    <li>
                        <a href="#contact" data-scroll>Contatti</a>
                    </li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a id="navLinkRegistration" href="@OptionsApplicationConfiguration.Value.LoginUrl">Entra</a>
                        </li>
                    }
                </ul>
                <!-- onepage menu end-->

            </div>
        </div>
    </div>
</header>
<!--header end-->