
<div class="logout-page">
    <div class="page-header">
        <h1>Conferma email</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>E' necessario confermare l'indirizzo email con cui ci si è registrati navigando al link presente all'interno dell'email di conferma
            prima di poter effettuare il <a asp-action="Login" asp-route-retournUrl='@ViewData["ReturnUrl"]'>Login</a> </p>
            @*<p>Se non si è ricevuta nessuna email, dopo aver controllato anche tra la posta indesiderata (spam), è possibile richiederne una nuova XXXXXXX</p>*@
        </div>
    </div>
</div>