.r2d-margin-top-neg-20 {
    margin-top: -20px;
}

.r2d-text-bold {
    font-weight: 700 !important;
}

//Messaggi di errore
.field-validation-error {
    color: red;
}


.r2d-section-title {
    font-size: 1.5rem;
    font-weight: 700;
}