@charset "UTF-8";

/* IMPORTIAMO LE VARIABILI UTILIZZATE PER COMPILARE MATERIALIZECSS */
@import "../../materialize-src/sass/r2do-customization.scss";
@import "../../materialize-src/sass/components/color-variables";
@import "../../materialize-src/sass/components/color-classes";
@import "../../materialize-src/sass/components/variables";

/* VARIABILI READY2DO */
$r2d-magenta: #E31F4F;
$r2d-green: #89C443;
$r2d-color-body-bg: #eeeeee;
$r2d-color-navbar-bg: #ffffff;
$r2d-color-bgcontent: #ffffff;

/*Utiliziamo 3 breakpoint 
    ScreenWidth < 768           --->  MOBILE
    768 <= ScreenWidth < 1280   --->  TABLET
    ScreenWidth >= 1280         --->  DESKTOP
*/


$r2d-medium-and-up: $medium-and-up ;
$r2d-large-and-up: $large-and-up;

$r2d-navbar-height-mobile: $navbar-height-mobile;

$r2d-navbar-height: 140px;
$r2d-navbar-line-height: $navbar-line-height;

/* ============= NAVBAR ============
    Dimensioni NavBar:
    ScreenWidth < 768           --->  350 px
    768 <= ScreenWidth < 1280   --->  728 px
    ScreenWidth >= 1280         ---> 1024 px
*/
$r2d-navbar-height-mobile: $r2d-navbar-height;
$r2d-navbar-height-tablet: $r2d-navbar-height;
$r2d-navbar-height-desktop: $r2d-navbar-height;

$r2d-navbar-min-width-mobile: 360px;
//$r2d-navbar-max-width-mobile: 