.r2d-bgcontent {
    background-color: $r2d-color-bgcontent;
}

.row .col.r2d-nopadding-col {
    padding: 0;
}


/*Proprietà comuni buttons*/
%r2d-button-shared{
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.5px;
}


.r2d-margin-top-neg-20 {
    margin-top: -20px;
}

.r2d-text-bold {
    font-weight: 700 !important;
}

//Messaggi di errore
.field-validation-error {
    color: red;
}


.r2d-section-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.r2d-box-info-right{
    line-height: 1.1rem;
}

.r2d-box-info-right > .divider {
    margin-top: 10px;
    margin-bottom: 10px;
}

.r2d-box-info-right > div {
    line-height: 1.5rem;
}