<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="STS.Client.Secret" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Server=localhost;Database=PalestreGoGo;Trusted_Connection=True;"/>
  </connectionStrings>
</configuration>