<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="TODO: VALORIZZARE">
    <meta name="keywords" content="TODO:VALORIZZARE">

    <title>@ViewData["Title"]</title>

    <!--  favicon -->
    <!-- TODO: Creare la Favicon e le Apple-Touch-Icon personalizzate-->
    <link rel="shortcut icon" href="~/img/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/img/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/img/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/img/ico/apple-touch-icon-57-precomposed.png">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <!-- MaterializeCSS CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Style CSS -->
    <link href="~/css/style.css" rel="stylesheet">
    <!-- Custom Style CSS -->
    <link href="~/css/custom-styles.css" rel="stylesheet">

    @RenderSection("head", required: false)
</head>
<body id="top" data-spy="scroll" data-target="#materialize-menu" data-offset="100">
    <header id="header" class="tt-nav">
        <partial name="_NavBar" />
    </header>

        @RenderBody()


        <!-- Preloader -->
        <!--
         <div id="preloader">
             <div class="preloader-position">
                 <img src="/img/logo-colored.png" alt="logo">
                 <div class="progress">
                     <div class="indeterminate"></div>
                 </div>
             </div>
         </div>
         -->
        <!-- End Preloader -->
        <!-- Materializecss Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        @RenderSection("Scripts", required: false)
</body>
</html>
