@using Microsoft.Extensions.Options;
@using Web.Configuration;

@model ClientRegistrationViewModel
@inject IOptions<AppConfig> OptionsApplicationConfiguration

@{
    Layout = "_LayoutLanding";
}
<section class="section">
    @*banner-6*@
    <div class="container">
        <div class="text-center mb-20">
            <h3 class="section-title text-uppercase">Registra <strong>gratuitamente</strong> la tua struttura</h3>
            @*<p class="section-sub">
                    Compila la form sottostante ed inizia ad utilizzare gratuitamente le fantastiche funzionalità offerte da PalestreGoGo per la gestione
                    delle prenotazioni ai tuoi eventi.
                </p>*@
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <form asp-controller="Account" asp-action="RegisterCliente" method="POST" id="formRegistration">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-field">
                                <input type="text" asp-for="Nome" class="validate">
                                <label asp-for="Nome"></label>
                                <span asp-validation-for="Nome"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-field">
                                <input type="text" asp-for="Cognome" class="validate">
                                <label asp-for="Cognome"></label>
                                <span asp-validation-for="Cognome"></span>
                            </div>
                        </div>
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-field">
                                <input type="email" asp-for="Email" class="validate">
                                <label asp-for="Email"></label>
                                <span asp-validation-for="Email"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="input-field">
                                <input type="password" asp-for="Password" class="validate">
                                <label asp-for="Password">Password</label>
                                <span asp-validation-for="Password"></span>
                            </div>
                        </div><!-- /.col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="input-field">
                                <input type="password" asp-for="PasswordConfirm" class="validate">
                                <label asp-for="PasswordConfirm"></label>
                                <span asp-validation-for="PasswordConfirm"></span>
                            </div>
                        </div><!-- /.col-sm-6 -->
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-field">
                                <input type="text" asp-for="NomeStruttura" class="validate">
                                <label asp-for="NomeStruttura"></label>
                                <span asp-validation-for="NomeStruttura"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-field">
                                <input type="text" asp-for="URL" class="validate">
                                <label asp-for="URL"></label>
                                <span asp-validation-for="URL"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col-sm-12">
                            <select asp-for="IdTipologia" asp-items="Model.TipologieClienti" class="active">
                                <option disabled selected>Selezionare un categoria</option>
                            </select>
                            <label id="lblTipologiaCliente" for="IdTipologia" class="customSelectLabel">Tipologia di Struttura</label>
                            <span asp-validation-for="IdTipologia"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-field">
                                <input type="text" asp-for="RagioneSociale" class="validate">
                                <label asp-for="RagioneSociale">Ragione Sociale</label>
                                <span asp-validation-for="RagioneSociale"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-field">
                                <input type="email" asp-for="EmailStruttura" class="validate">
                                <label asp-for="EmailStruttura">Email Struttura</label>
                                <span asp-validation-for="EmailStruttura"></span>
                            </div>
                        </div>
                    </div><!-- /.row -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-field">
                                <input id="addressAutocomplete" type="text" asp-for="Indirizzo" class="autocomplete validate" placeholder="">
                                <label asp-for="Indirizzo"></label>
                                <span asp-validation-for="Indirizzo"></span>
                            </div>
                        </div><!-- /.col-sm-6 -->
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-field">
                                <input type="tel" asp-for="Telefono" class="validate">
                                <label asp-for="Telefono"></label>
                                <span asp-validation-for="Telefono"></span>
                            </div>
                        </div><!-- /.col-sm-6 -->
                    </div>
                    <div class="text-center">
                        <button type="submit" name="submit" class="waves-effect waves-light btn submit-button pink mt-30">Registrati</button>
                    </div>
                    <input id="esitoLookup" type="hidden" asp-for="EsitoLookup" />
                    <input id="inputLatitudine" type="hidden" asp-for="Latitudine" />
                    <input id="inputLongitudine" type="hidden" asp-for="Longitudine" />
                    <input id="inputCitta" type="hidden" asp-for="Citta" />
                    <input id="inputCountry" type="hidden" asp-for="Country" />
                    <input id="inputCAP" type="hidden" asp-for="CAP" />
                </form>
            </div><!-- /.col-sm-8 -->
            <div class="col-sm-2"></div>
        </div><!-- /.row -->
    </div>
    <div id="log">

    </div>
</section>

@section Scripts{
    <!-- jQuery -->
    <script src="~/js/jquery-2.1.3.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/materialize/js/materialize.min.js"></script>
    <script src="~/js/menuzord.js"></script>
    <script src="~/js/autocompleteajax.js"></script>
    @*<script src="https://maps.googleapis.com/maps/api/js"></script>*@
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=@OptionsApplicationConfiguration.Value.GoogleAPI.GoogleMapsAPIKey&libraries=places&language=it"></script>
    <script src="~/js/scripts.js"></script>

    <!-- Google Map Customization  -->
    <script type="text/javascript">
        jQuery(document).ready(function () {

            $('select').material_select();

            /// GOOGLE AUTOCOMPLETE ///
            var input = document.getElementById('addressAutocomplete');
            input.addEventListener('focus', function () {
                //var log = document.getElementById('log');
                //log.innerText = log.innerText + '<br>' + 'BLUR EVENT'
                //L'OnBlur viene scatenato appena il controllo per il focus (a prescindere dal motivo), per cui partiamo con l'assunto che l'indirizzo non sia valido
                //APPLICHIAMO LA CLASSE invalid
                //input.className = input.className.replace(/\bvalid\b/g, "");
                //arr = input.className.split(" ");
                //if (arr.indexOf("invalid") == -1) {
                //    input.className += " invalid";
                //}
                //input.setCustomValidity("Selezionare l'indirizzo tra uno di quelli proposti.");
                document.getElementById('esitoLookup').value = 0;
            });

            var options = {
                type: ['(address)'],
                componentRestrictions: { country: 'it' }
            };

            autocomplete = new google.maps.places.Autocomplete(input, options);
            autocomplete.addListener('place_changed', function () {
                var place = autocomplete.getPlace();
                //NOTA: se non è stata selezionato uno degli indirizzi proposti da google, sia perché l'utente ha scritto l'inidirizzo e poi ha spostato il focus oppure
                //      perché c'è stato un problema nel lookup, l'oggetto place ha la sola proprietà Name valorizzta con l'input inserito dall'utente

                //var log = document.getElementById('log');
                //log.innerText = log.innerText + '<br>' + 'place_changed EVENT'
                if (place.geometry) {
                    //input.className = input.className.replace(/\binvalid\b/g, "");
                    ////Applichiamo la classe VALID
                    //arr = input.className.split(" ");
                    //if (arr.indexOf("valid") == -1) {
                    //    input.className += " valid";
                    //}
                    ////input.setCustomValidity("");
                    document.getElementById('esitoLookup').value = 1;
                    document.getElementById('inputLatitudine').value = place.geometry.location.lat();
                    document.getElementById('inputLongitudine').value = place.geometry.location.lng();

                    var tmp = place.address_components.find(function (c) { return c.types[0] === "postal_code"; });
                    if (tmp) {
                        document.getElementById('inputCAP').value = tmp.long_name;
                    }
                    tmp = place.address_components.find(function (c) { return c.types[0] === "locality"; });
                    if (tmp) {
                        document.getElementById('inputCountry').value = tmp.long_name;
                    }
                    tmp = place.address_components.find(function (c) { return c.types[0] === "administrative_area_level_1"; });
                    if (tmp) {
                        document.getElementById('inputCitta').value = tmp.long_name;
                    }
                    //Dobbiamo rieseguire la validazione perché quando arriva qui è già stata eseguita con i valori "errati"
                    $("#formRegistration").validate().element("#addressAutocomplete");
                } else {
                    document.getElementById('esitoLookup').value = 0;
                }
            });

        });

        //Registriamo il validator customper l'indirizzo così da assicurarci che ne sia stato selezionato uno dall'elenco
        //ATTENZIONE: deve necessariamente essere fatto FUORI dal document.ready altrimenti viene ignorato
        // Custom validator for adress lookoup
        //$(function () {
        //    $.validator.addMethod('googleaddress',
        //        function (value, element, params) {
        //            // Get element value. Classic genre has value '0'.
        //            var genre = $(params[0]).val(),
        //                year = params[1],
        //                date = new Date(value);
        //            if (genre && genre.length > 0 && genre[0] === '0') {
        //                // Since this is a classic movie, invalid if release date is after given year.
        //                return date.getFullYear() <= year;
        //            }

        //            return true;
        //        });

        //    $.validator.unobtrusive.adapters.add('googleaddress', null, function (options) {
        //        var element = $(options.form).find('addressAutocomplete')[0];
        //        options.rules['googleaddress'] = [element];
        //        options.messages['googleaddress'] = options.message;
        //    })
        //});

    </script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        $(function () {
            $.validator.addMethod('googleaddress', function (value, element, params) {
                $.validator.messages.googleaddress = "E' necessario selezionare un indirizzo tra quelli proposti";
            return $(params).val() == 1;
        });

        $.validator.unobtrusive.adapters.add('googleaddress', ['esitolookupField'], function (options) {
            options.rules['googleaddress'] = '#esitoLookup';// + options.params.esitolookupField;
            options.messages['googleaddress'] = options.message;
        });
        }(jQuery));
    </script>

}